$facebook_color           : hsla(222, 47%, 40%, 1);     // #365397
$twitter_color            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin_color           : hsla(203, 100%, 35%, 1);    // #006db3
$google_plus_color        : hsla(8, 74%, 53%, 1);       // #e0452c
$pinterest_color          : hsla(0, 78%, 45%, 1);       // #ce1a19